{% extends "base.html" %}
{% block title %}
  Register
{% endblock %}

{% block content %}
<body class="text-center">
<div class="container">
  <h1 class="h3 mb-3 mt-3">
    Register An Account
  </h1>
  <form method="POST" class="form-register" style="color:white">
    {{form.hidden_tag()}}
    {{form.username.label()}}
    {{form.username(class= "form-control")}}

    {{form.email.label()}}
    {{form.email(class= "form-control")}}

    {{form.password.label()}}
    {{form.password(class= "form-control")}}

    {{form.confirm_password.label()}}
    {{form.confirm_password(class= "form-control")}}
    <br>
    {{form.submit(class="btn-lg btn btn-block btn-primary")}}
  </form>
</div>
</body>

{% endblock %}